<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="SourceConnectionString" value="Data Source=.;Initial Catalog=AutoSyncTest;user id=sa;Password=123;"/>

    <add key="DestinationConnectionString" value="Data Source=.;Initial Catalog=AutoSyncTest;user id=sa;Password=123;"/>
    
    <add key="DbCommandTimeout_s" value="60"/>
    
    <add key="ReadIdleSleepTime"  value="00:00:01"/>   

    <add key="aLoadMaxVersionDiff" value="5"/>
    <add key="LoadMaxVersionDiff" value="1000"/>

    <add key="BufferSizeThreshold" value="1000"/>
    <add key="aBufferSizeThreshold" value="1000"/>

    <add key="FailureSleepTime"  value="00:00:20"/>
    
    <add key="CountWrapping" value="1000000"/>

    <add key="ConfirmExit" value="false"/>
    
  </appSettings>
</configuration>